.GallaryMobile {
    background: rgba(50, 47, 40, 0.7);
    backdrop-filter: blur(10px);
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;

    display: grid;
    grid-template-columns: 1fr 40px;
    grid-template-rows: 40px;
    grid-template-areas: 'search btn'
                         'img img';
    gap: 10px;
    padding: 20px;
}

.GallaryMobile .search {
    grid-area: search;
    background: #FFFFFF;
    border-radius: 12px;
    height: 34px;
}

.GallaryMobile .searchButton {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
}

.GallaryMobile .searchButton svg {
    width: 40px;
    height: 40px;
}

.GallaryMobile .gallery {
    grid-area: img;
    min-width: 278px;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 220px;
    gap: 10px;
}