.App {
    display: grid;
    grid-template-areas: 'header'
                         'feed'
    ;
    margin:  0 40px 40px 40px;
}

@media (max-width: 320px) {
    .App {
        margin: 20px;
    }
}